<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headContent(title)">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title}">API Test Report</title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/report.css(v='20260925-1')}">
</th:block>
<body>
<header th:fragment="homeHeader" class="report-header"><a th:href="@{/}">API Test Report</a></header>

<header th:fragment="serviceHeader(org, service)" class="report-header"><a th:href="@{/}">API Test Report</a></header>

<header th:fragment="detailHeader(run)" class="report-header"><a th:href="@{/}">API Test Report</a></header>

<th:block th:fragment="bootstrapScript">
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/report-ui.js(v='20260925-1')}"></script>
</th:block>
</body>
</html>
